<% include ../../partials/head %>

<% include ../../partials/header %>
<% include ../../partials/sidebar %>


<body>
<%const group = post.group%>
    <div class="main">
        <!-- Card for post -->
        <div class="post uk-inline">
            <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>

                <!--Report Dropdown Button for Post -->
                <button class="uk-button uk-button-link uk-position-top-right" type="button"><span uk-icon="icon:  triangle-down"></span></button>
                <div uk-dropdown="mode: click; boundary: !; pos: bottom-left">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-nav-header">Melden wegen:</li>
                        <li class="uk-nav-divider"></li>

                            <!--Buttons/Forms for reporting a Post -->
                            <form action="/post/reportcontent" method="post">
                                <div style="display:none">
                                    <input type="hidden" name="ID" value= <%= post._id %>></br>
                                    <input type="hidden" name="groupID" value= <%= group._id %>></br>
                                    <input type="hidden" name="reportedBy" value= <%= currentUserProfile._id %>></br>
                                    <input type="hidden" name="contentType" value= post></br>
                                    <input type="hidden" name="reason" value= "inadquate"></br>
                                </div>
                                <input class="uk-button uk-button-primary uk-button-small uk-width-1-1 report-btn" type="submit" value="Unangemessener Beitrag">
                            </form>

                            <form action="/post/reportcontent" method="post">
                                <div style="display:none">
                                    <input type="hidden" name="ID" value= <%= post._id %>></br>
                                    <input type="hidden" name="groupID" value= <%= group._id %>></br>
                                    <input type="hidden" name="reportedBy" value= <%= currentUserProfile._id %>></br>
                                    <input type="hidden" name="contentType" value= post></br>
                                    <input type="hidden" name="reason" value= "spamOrAd"></br>
                                </div>
                                <input class="uk-button uk-button-primary uk-button-small uk-width-1-1 report-btn" type="submit" value="Unangemessener Beitrag">
                            </form>

                    </ul>
                </div>

                <div class="uk-width-auto">
                    <img class="uk-comment-avatar" src="images/maxresdefault.jpg" width="80" height="80" alt="">
                </div>
                <div class="uk-width-expand">
                    <h4 class="uk-comment-title uk-margin-remove"><%= post.title %></h4>
                    <ul class="uk-comment-meta uk-subnav uk-margin-remove-top">
                        <li><a href="/profile/id/<%= post.profile._id %>">von <%= post.profile.name %></a></li>
                        <li><%= post.date.toDateString("de-De") + " " + post.date.toLocaleTimeString("de-De") %></li>            
                    </ul>
                </div>
            </header>
            <hr class="divider__b">
            <div class="uk-comment-body">
                <p><%=post.text%></p>
            </div>
            <!-- Delete Button for Post-->
            <% if(currentUserProfile._id.toString() === post.profile._id.toString()) {%>
                <form action="/post/post/delete" method="post">
                        <input type="hidden" name="postId" value= <%= post._id %>></br>
                        <input class="uk-button uk-button-primary uk-button-small delete-btn" type="submit" value="Löschen">
                </form>
            <%}%>

        </div>

        <!-- List comments -->
        <% var comments = post.comments%>
        <% var index = 0 %>
        <% if(comments){ comments.forEach((comment) => { %>
            <% if(comment != null) {%>
                <div class="post__comment uk-inline">
                    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>

                        <!--Report Dropdown Button for Comments -->
                        <button class="uk-button uk-button-link uk-position-top-right" type="button"><span uk-icon="icon:  triangle-down"></span></button>
                        <div uk-dropdown="mode: click; boundary: !">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li class="uk-nav-header">Melden wegen:</li>
                                <li class="uk-nav-divider"></li>

                                <!--Buttons/Forms for reporting a comment -->
                                <form action="/post/reportcontent" method="post">
                                    <div style="display:none">
                                        <input type="hidden" name="ID" value= <%= comment._id._id %>></br>
                                        <input type="hidden" name="groupID" value= <%= group._id %>></br>
                                        <input type="hidden" name="reportedBy" value= <%= currentUserProfile._id %>></br>
                                        <input type="hidden" name="contentType" value= comment></br>
                                        <input type="hidden" name="reason" value= "inadquate"></br>
                                    </div>
                                    <input class="uk-button uk-button-primary uk-button-small uk-width-1-1 report-btn" type="submit" value="Unangemessener Beitrag">
                                </form>

                                <form action="/post/reportcontent" method="post">
                                    <div style="display:none">
                                        <input type="hidden" name="ID" value= <%= comment._id._id %>></br>
                                        <input type="hidden" name="groupID" value= <%= group._id %>></br>
                                        <input type="hidden" name="reportedBy" value= <%= currentUserProfile._id %>></br>
                                        <input type="hidden" name="contentType" value= comment></br>
                                        <input type="hidden" name="reason" value= "spamOrAd"></br>
                                    </div>
                                    <input class="uk-button uk-button-primary uk-button-small uk-width-1-1 report-btn" type="submit" value="Unangemessener Beitrag">
                                </form>

                            </ul>
                        </div>

                        <div class="uk-width-auto">
                            <img class="uk-comment-avatar" src="images/maxresdefault.jpg" padding-left="30" width="50" height="50" alt="">
                        </div>
                        <div class="uk-width-expand">
                            <ul class="uk-comment-meta uk-subnav uk-margin-remove-top">
                                <li><a href="/profile/id/<%= post.profile._id %>">von <%= comment._id.profile.name %></a></li>
                                <li><%= comment._id.date.toDateString("de-De") + " " + comment._id.date.toLocaleTimeString("de-De") %></li>
                            </ul>
                        </div>
                    </header>
                    <hr class="divider__b">
                    <div class="uk-comment-body">
                        <p><%= comment._id.text %></p>
                    </div>

                    <!-- Delete Button for comment -->
                    
                    <% if(currentUserProfile._id.toString() === comment._id.profile._id.toString()) {%>
                        <form action="/post/comment/delete" method="post">
                            <input type="hidden" name="postId" value= <%= post._id %>>
                            <input type="hidden" name="commentId" value= <%= comment._id._id%>>
                            <input class="uk-button uk-button-primary uk-button-small delete-btn" type="submit" value="Löschen">
                        </form>
                    <%}%>


                    <!-- list subComments -->
                    <% var subComments = comment._id.subcomments %>
                    
                    <% if(subComments != undefined ){%>
                        <% subComments.forEach((subComment) => { %>
                            <% if(subComment != null) {%>
                                <div class="post__sub-comment uk-inline">
                                    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>

                                    <!--Report Dropdown Button for Subcomments -->
                                    <button class="uk-button uk-button-link uk-position-top-right" type="button"><span uk-icon="icon:  triangle-down"></span></button>
                                    <div uk-dropdown="mode: click; boundary: !">
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li class="uk-nav-header">Melden wegen:</li>
                                            <li class="uk-nav-divider"></li>

                                                <!--Buttons/Forms for reporting a subcomment -->
                                                <form action="/post/reportcontent" method="post">
                                                    <div style="display:none">
                                                        <input type="hidden" name="ID" value= <%= subComment._id._id %>></br>
                                                        <input type="hidden" name="groupID" value= <%= group._id %>></br>
                                                        <input type="hidden" name="reportedBy" value= <%= currentUserProfile._id %>></br>
                                                        <input type="hidden" name="contentType" value= subcomment></br>
                                                        <input type="hidden" name="reason" value= "inadquate"></br>
                                                    </div>
                                                    <input class="uk-button uk-button-primary uk-button-small uk-width-1-1 report-btn" type="submit" value="Unangemessener Beitrag">
                                                </form>

                                                <form action="/post/reportcontent" method="post">
                                                    <div style="display:none">
                                                        <input type="hidden" name="ID" value= <%= subComment._id._id %>></br>
                                                        <input type="hidden" name="groupID" value= <%= group._id %>></br>
                                                        <input type="hidden" name="reportedBy" value= <%= currentUserProfile._id %>></br>
                                                        <input type="hidden" name="contentType" value= subcomment></br>
                                                        <input type="hidden" name="reason" value= "spamOrAd"></br>
                                                    </div>
                                                    <input class="uk-button uk-button-primary uk-button-small uk-width-1-1 report-btn" type="submit" value="Unangemessener Beitrag">
                                                </form>

                                        </ul>
                                    </div>

                                        <div class="uk-width-auto">
                                            <img class="uk-comment-avatar" src="images/maxresdefault.jpg" padding-left="30" width="50" height="50" alt="">
                                        </div>
                                        <div class="uk-width-expand">
                                            <ul class="uk-comment-meta uk-subnav uk-margin-remove-top">
                                                <li><a href="/profile/id/<%= post.profile._id %>">von <%= subComment._id.profile.name %></a></li>
                                                <li><%= subComment._id.date.toDateString("de-De") + " " + subComment._id.date.toLocaleTimeString("de-De") %></li>
                                                
                                            </ul>
                                        </div>
                                    </header>
                                    
                                    <div class="uk-comment-body">
                                        <p><%= subComment._id.text %></p>
                                    </div>
                                    <!-- Delete Button -->
                                    <% if(currentUserProfile._id.toString() === subComment._id.profile._id.toString()) {%>
                                        <form action="/post/subcomment/delete" method="post">
                                            <input type="hidden" name="postId" value= <%= post._id %>>
                                            <input type="hidden" name="commentId" value= <%= comment._id._id%>>
                                            <input type="hidden" name="subCommentId" value= <%= subComment._id._id%>>
                                            <input class="uk-button uk-button-primary uk-button-small delete-btn" type="submit" value="Löschen">
                                        </form>
                                    <%}%>
                                </div>
                            <%}%>
                        <%})%>
                    <%}%>
                            
                    
                    <div class="subcomment-form">
                    <ul uk-accordion>
                        <li>                        
                            <a class="uk-accordion-title subcomment-slider-title" href="#">Kommentieren</a>                        

                            <div class="uk-accordion-content">                            
                                    <form action="/post/subcomment/create" method="post">
                                        <fieldset class="uk-fieldset">
                                            <textarea class="uk-textarea" id="Text" type="text" name="text" placeholder="Text eingeben"></textarea>
                                            <input type="hidden" name="postId" value="<%= post._id %>">
                                            <input type="hidden" name="commentId" value="<%= comment._id._id %>">
                                            <input type="hidden" name="index" value="<%= index %>">
                                            <input type="hidden" name="groupId" value="<%= group %>"></br>
                                            <input class="uk-button uk-button-primary uk-button-small" type="submit" value="Absenden">
                                        </fieldset>
                                    </form>
                                
                            </div>
                        </li>
                    </ul>
                    </div>
                        
                </div>
            <%}%>
        <% index= index + 1  })} %>


        <!-- Form for creating new 1st level comment -->
        <div class="post">
            <h4> Comment erstellen:</h4>
            <form action="/post/comment/create" method="post">
                <fieldset class="uk-fieldset">
                    <textarea class="uk-textarea" id="Text" type="text" name="text" placeholder="Text eingeben"></textarea>
                    <input type="hidden" name="postId" value="<%= post._id %>"></br>
                    <input type="hidden" name="groupId" value="<%= group %>"></br>
                    <input class="uk-button uk-button-primary uk-button-small" type="submit" value="Absenden">
                </fieldset>
            </form>
        </div>

    </div>
</body>


<% include ../../partials/foot %>