<% include ../../partials/head %>

<% include ../../partials/header %>
<% include ../../partials/sidebar %>


<body>
    <div class="main">
        <!-- Card for post -->
        <div class="post">
            <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-comment-avatar" src="images/maxresdefault.jpg" width="80" height="80" alt="">
                </div>
                <div class="uk-width-expand">
                    <h4 class="uk-comment-title uk-margin-remove"><%= post.title %></h4>
                    <ul class="uk-comment-meta uk-subnav uk-margin-remove-top">
                        <li><a href="/profile/id/<%= post.profile._id %>">von <%= post.profile.name %></a></li>
                        <li><%= post.date.toDateString("de-De") + " " + post.date.toLocaleTimeString("de-De") %></li>            
                    </ul>
                </div>
            </header>
            <hr class="divider__b">
            <div class="uk-comment-body">
                <p><%=post.text%></p>
            </div>
            <!-- Delete Button for Post-->
            <% if(currentUserProfile._id.toString() === post.profile._id.toString()) {%>
                <form action="/post/post/delete" method="post">
                        <input type="hidden" name="postId" value= <%= post._id%>></br>
                        <input class="uk-button uk-button-primary uk-button-small delete-btn" type="submit" value="Löschen">
                </form>
            <%}%>

        </div>

        <!-- List comments -->
        <% var comments = post.comments%>
        <% var index = 0 %>
        <% if(comments){ comments.forEach((comment) => { %>
            <div class="post__comment">
                <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-comment-avatar" src="images/maxresdefault.jpg" padding-left="30" width="50" height="50" alt="">
                    </div>
                    <div class="uk-width-expand">
                        <ul class="uk-comment-meta uk-subnav uk-margin-remove-top">
                            <li><a href="/profile/id/<%= post.profile._id %>">von <%= comment.profile.name %></a></li>
                            <li><%= comment.date.toDateString("de-De") + " " + comment.date.toLocaleTimeString("de-De") %></li>
                            
                        </ul>
                    </div>
                </header>
                <hr class="divider__b">
                <div class="uk-comment-body">
                    <p><%= comment.text %></p>
                </div>

                <!-- Delete Button for comment -->
                
                <% if(currentUserProfile._id.toString() === comment.profile._id.toString()) {%>
                    <form action="/post/comment/delete" method="post">
                        <input type="hidden" name="postId" value= <%= post._id %>>
                        <input type="hidden" name="commentId" value= <%= comment._id%>>
                        <input class="uk-button uk-button-primary uk-button-small delete-btn" type="submit" value="Löschen">
                    </form>
                <%}%>


                <!-- list subComments -->
                <% var subComments = comment.subComments %>
                    <% subComments.forEach((subComment) => { %>
                        <% if(subComment != undefined ){%>
                        <div class="post__sub-comment">
                            <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>

                                <div class="uk-width-auto">
                                    <img class="uk-comment-avatar" src="images/maxresdefault.jpg" padding-left="30" width="50" height="50" alt="">
                                </div>
                                <div class="uk-width-expand">
                                    <ul class="uk-comment-meta uk-subnav uk-margin-remove-top">
                                        <li><a href="/profile/id/<%= post.profile._id %>">von <%= subComment.profile.name %></a></li>
                                        <li><%= subComment.date.toDateString("de-De") + " " + subComment.date.toLocaleTimeString("de-De") %></li>
                                        
                                    </ul>
                                </div>
                            </header>
                            
                            <div class="uk-comment-body">
                                <p><%= subComment.text %></p>
                            </div>
                            <!-- Delete Button -->
                            <% if(currentUserProfile._id.toString() === comment.profile._id.toString()) {%>
                                <form action="/post/post/delete" method="post">
                                        <input type="hidden" name="postId" value=<%=post._id%>></br>
                                        <input class="uk-button uk-button-primary uk-button-small delete-btn" type="submit" value="Löschen">
                                </form>
                            <%}%>
                        </div>

                <%}}) %>
                <div class="subcomment-form">
                <ul uk-accordion>
                    <li>                        
                        <a class="uk-accordion-title subcomment-slider-title" href="#">Kommentieren</a>                        

                        <div class="uk-accordion-content">
                            
                                <form action="/post/subcomment/create" method="post">
                                    <fieldset class="uk-fieldset">
                                        <textarea class="uk-textarea" id="Text" type="text" name="text" placeholder="Text eingeben"></textarea>
                                        <input type="hidden" name="postId" value="<%= post._id %>">
                                        <input type="hidden" name="commentId" value="<%= comment._id %>">
                                        <input type="hidden" name="index" value="<%= index %>">
                                        <input class="uk-button uk-button-primary uk-button-small" type="submit" value="Absenden">
                                    </fieldset>
                                </form>
                            
                        </div>
                    </li>
                </ul>
                </div>
                    
            </div>
        <% index= index + 1  })} %>


        <!-- Form for creating new 1st level comment -->
        <div class="post">
            <h4> Comment erstellen:</h4>
            <form action="/post/comment/create" method="post">
                <fieldset class="uk-fieldset">
                    <textarea class="uk-textarea" id="Text" type="text" name="text" placeholder="Text eingeben"></textarea>
                    <input type="hidden" name="postId" value="<%= post._id %>"></br>
                    <input class="uk-button uk-button-primary uk-button-small" type="submit" value="Absenden">
                </fieldset>
            </form>
        </div>

    </div>
</body>


<% include ../../partials/foot %>