<% include ../../partials/head %>

<% include ../../partials/header %>
<% include ../../partials/sidebar %>

<body>
    <div class="main">
        <h1> profiles list </h1>

        <% if(profiles){ profiles.forEach((profile) => { %>
            <div class="uk-card uk-card-default uk-width-1-2@m">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="40" height="40" src="images/maxresdefault.jpg">
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom"><%= profile.name %></h3>
                            <p class="uk-text-meta uk-margin-remove-top">
                        
                                <!-- check if rendered users profile is currentUsers profile or allready in contacts list, to render according button -->
                                <% if(profile._id.toString() == currentUserProfile._id.toString()){%>
                                <%} else if(currentUserProfile.contacts.toString().includes(profile._id.toString()) == false) { %>
                                    <form action="/contacts/addcontact" method="post">
                                        <input type="hidden" name="profileId" value="<%= profile._id %>">
                                        <button type="submit" value="<%= profile._id %>" class="uk-button uk-button-primary uk-button-small">Kontakt hinzufügen</button>                  
                                    </form>
                                <%} else if (currentUserProfile.contacts.toString().includes(profile._id.toString()) == true){ %>
                                    <form action="/contacts/removecontact" method="post">
                                        <input type="hidden" name="profileId" value="<%= profile._id %>">
                                        <button type="submit" value="<%= profile._id %>" class="uk-button uk-button-primary uk-button-small">Kontakt Entfernen</button>                  
                                    </form>
                                <% } %>


                            </p>
                        </div>
                    </div>
                </div>
            </div>
        

        <% })} %>







    </div>
</body>

<% include ../../partials/foot %>