<% include ../../partials/head %>

<% include ../../partials/header %>
<% include ../../partials/sidebar %>
<body>
    <div class="main">

    <div class="uk-margin uk-margin-left uk-margin-right uk-background-default">
        <form class="uk-search uk-search-default uk-width-1-1" action="/group/search" method="post">
            <input id="Name" type="text" name="name" class="uk-search-input" type="search" placeholder="Search...">
        </form>
    </div>
    
        <% groups.forEach((group) => { %>
            <%- include('../../partials/components/single-group-reference', {group, currentUserProfile})%>
        <% }) %>


            <!-- Pagination -->
            <% if (pages > 0) { %>
                <ul class="uk-pagination uk-flex-center" uk-margin>
                    <% if (current == 1) { %>
                        <li class="disabled"><a>First</a></li>
                    <% } else { %>
                        <li><a href="/group/all/1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                        <% } else { %>
                            <li><a href="/group/all/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled"><a>Last</a></li>
                    <% } else { %>
                        <li><a href="/group/all/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
        </div>
    </div>
<body>


<% include ../../partials/foot %>