<% include ../start %>
    <div class="main">

        <div class="group-header">
            <div class="group-name">
                <%= currentGroup.name %>
            </div>
            
            <!-- if currentUser is already member of this group, don't sho subscrib button -->
            <% if(membership == false){ %>
            <!-- form for joining the group -->
                <div class="sub-button uk-margin-left uk-margin-right uk-margin-bottom">
                    <form action="/group/subscribe" method="post">
                        <input type="hidden" name="groupID" value="<%= currentGroup._id %>">
                        <input class="uk-button-small uk-button-primary" type="submit" value="Beitreten">
                    </form>
                </div>
            <% } else {%>
                <!-- form for unsubscribe from the group -->
                <div class="sub-button uk-margin-left uk-margin-right uk-margin-bottom">
                    <form action="/group/unsubscribe" method="post">
                        <input type="hidden" name="groupID" value="<%= currentGroup._id %>">
                        <input class="uk-button-small uk-button-primary" type="submit" value="Austreten">
                    </form>
            </div>
            <% } %>
            <hr class="divider__b">
        </div>


        <!-- Form for creating a new post in that group -->
        <div class="new-post">
            <form action="/post/create" method="post" enctype="multipart/form-data">
                <!--<fieldset class="uk-fieldset">-->
                    <input class="uk-input" id="Titel" type="text" name="title" placeholder="Titel des Beitrags" required>
                    <textarea class="uk-textarea" id="Text" type="text" name="text" placeholder="Text eingeben" required></textarea>
                    <input type="hidden" name="groupName" value="<%= currentGroup.name %>">
                    <!--file upload form -->
                    <div class="js-upload" uk-form-custom="target: true">
                        <input type="file" name='image' single>
                        <input class="uk-input uk-form-width-medium uk-button uk-button-default uk-background-default" type="text" placeholder="Bild hochladen">
                    </div>

                    <button class="uk-button uk-button-primary uk-button" type="submit" value="Absenden">Absenden</button>
                <!--</fieldset>-->
            </form>
        </div>

        <!-- listing posts -->
        <% if(posts){ posts.forEach((post) => { %>
            <%- include('../../partials/components/single-post-reference', {post: post})%>
        <% })} %>

        <!-- Pagination -->
        <% if (pages > 0) { %>
            <ul class="uk-pagination uk-flex-center" uk-margin>
                <% if (current == 1) { %>
                    <li class="disabled"><a>First</a></li>
                <% } else { %>
                    <li><a href="<%="/group/name/"+currentGroup.name+"/1"%>">First</a></li>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                        <li class="active"><a><%= i %></a></li>
                    <% } else { %>
                        <li><a href="<%="/group/name/"+currentGroup.name+"/"+ i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                <% } %>
                <% if (current == pages) { %>
                    <li class="disabled"><a>Last</a></li>
                <% } else { %>
                    <li><a href="<%="/group/name/"+currentGroup.name+"/"+ pages %>">Last</a></li>
                <% } %>
            </ul>
        <% } %>

    </main>
<% include ../end %>