<% include ../../partials/head %>

<% include ../../partials/header %>
<% include ../../partials/sidebar %>



<body>
    <div class="main">

        <div class="group-header">
            <div class="group-name">
                <%= currentGroup.name %>
            </div>
            
            <!-- if currentUser is already member of this group, don't sho subscrib button -->
            <% if(membership == false){ %>
            <!-- form for joining the group -->
                <div class="sub-button">
                    <form action="/group/subscribe" method="post">
                        <input type="hidden" name="groupName" value="<%= currentGroup.name %>">
                        <input class="uk-button uk-button-primary" type="submit" value="Beitreten">
                    </form>
                </div>
            <% } %>
            <hr class="divider__b">
        </div>


        <!-- Form for creating a new post in that group -->
        <div class="new-post">
            <form action="/post/create" method="post" enctype="multipart/form-data">
                <!--<fieldset class="uk-fieldset">-->
                    <input class="uk-input" id="Titel" type="text" name="title" placeholder="Titel des Beitrags">
                    <textarea class="uk-textarea" id="Text" type="text" name="text" placeholder="Text eingeben"></textarea>
                    <input type="hidden" name="groupName" value="<%= currentGroup.name %>">
                    <!--file upload form -->
                    <div class="js-upload" uk-form-custom>
                        <input type="file" name='image' single>
                        <button class="uk-button uk-button-default"  type="button" tabindex="-1">Select</button>
                    </div>

                    <button class="uk-button uk-button-primary uk-button-small" type="submit" value="Absenden">Absenden</button>
                <!--</fieldset>-->
            </form>
        </div>

        <!-- listing posts -->
        <% if(posts){ posts.forEach((post) => { %>
            <div class="post">
                <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-comment-avatar" src="<%=post.profile.avatarPath %>" width="80" height="80" alt="">
                    </div>
                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="/post/id/<%= post._id %>"><%= post.title %></a></h4>
                        <ul class="uk-comment-meta uk-subnav uk-margin-remove-top">
                            <li><a href="/profile/id/<%= post.profile._id %>">von <%= post.profile.name %></a></li>
                            <li><%= post.date.toDateString("de-De") + " " + post.date.toLocaleTimeString("de-De") %></li>     
                        </ul>
                    </div>
                </header>
                <hr class="divider__b">
                <div class="uk-comment-body">
                    <p><%= post.text %></p>
                </div>

                <% if(post.image){%>
                    </br>
                    <div class="uk-width-auto">
                        <img  width="100%" src= <%="images/contentImages/" + post.image._id %> >
                    </div>
                <%}%>

                <div class="post__comment-count">
                    <%= post.comments.length %> Kommentare
                </div>
            </div>
        <% })} %>

    </main>
</body>

<% include ../../partials/footer %>
<% include ../../partials/foot %>