<% include ../../partials/head %>

<% include ../../partials/header %>
<% include ../../partials/sidebar %>

<body>
    <div class="main">

        <!-- mopanel navigation buttons-->
        <%const activeSite = "members"%>
        <% include ../../partials/components/modpanel-nav %>    
        <!-- search Form-->
        <div class="uk-margin uk-margin-left uk-margin-right uk-background-default">
            <form class="uk-search uk-search-default uk-width-1-1" action="/group/modpanel/members/search/<%=group.name%>" method="post">
                <input type="hidden" name="groupID"  value="<%=group._id%>">
                <input id="Name" type="text" name="name" class="uk-search-input" type="search" placeholder="Search...">
            </form>
        </div>
        <%console.log(members)%>

        <!-- List all Members -->
        <% if(members){members.forEach((member) => { %>
            <% if(member.name == undefined){profile = member._id}%>
            <%- include('../../partials/components/single-profile-reference', {profile, currentUserProfile})%>
            <!-- Button to add Member as Mod-->
            <%if(profile.isMod == false){%>
                <div class="uk-margin-left uk-margin-right uk-margin-bottom">
                    <form action="/group/mod/addmod/<%=profile._id%>" method="post">
                        <div class="uk-margin-top" style="display:none">
                            <input type="hidden" name="groupID" value= "<%=group._id %>"></br>
                        </div>
                        <input class="uk-button uk-button-primary uk-button-small delete-btn" type="submit" value="Add as Mod">
                    </form>
                </div>
            <%}%>
        <%})} %>


    </main>
</body>





<% include ../../partials/footer %>
<% include ../../partials/foot %>