<% include ../../partials/head %>

<% include ../../partials/header %>
<% include ../../partials/sidebar %>
<body>
    <div class="main">

    <div class="uk-button-group uk-margin uk-margin-top uk-flex uk-flex-center">
        <a href="/group/modpanel/reportlist/<%=group.name%>"n class="uk-button uk-button-primary uk-button-small uk-margin-left uk-margin-right">Reported Content</a>
        <a href="/group/modpanel/members/<%=group.name%>"   n class="uk-button uk-button-default uk-button-small uk-margin-left uk-margin-right uk-background-default">Members</a>
        <a href="/group/modpanel/moderators/<%=group.name%>"n class="uk-button uk-button-default uk-button-small uk-margin-left uk-margin-right uk-background-default">Moderators</a>
        <a href="/group/modpanel/leavemod/<%=group.name%>"   class="uk-button uk-button-default uk-button-small uk-margin-left uk-margin-right uk-background-default">Leave as Mod</a>
    </div>


    <!-- Cards for post -->
    <% if(reportedPosts.length > 0){ %>
    <h3 class="uk-margin-remove">Reported Posts:</h3>        
    <% reportedPosts.forEach((reportedPost) => { %>
        <%- include('../../partials/components/single-post-reference', {post: reportedPost.content})%>

        <div class="uk-margin-left uk-margin-right uk-margin-bottom">
            <!-- Delete Button for Post-->
            <form action="/group/mod/post/delete" method="post">
                <div class="uk-margin-top" style="display:none">
                    <input type="hidden" name="postId" value= <%= reportedPost.content._id %>></br>
                    <input type="hidden" name="groupID" value= <%= groupID %>></br>
                    <input type="hidden" name="reportedPost" value= <%= reportedPost._id %>></br>
                </div>
                <input class="uk-button uk-button-primary uk-button-small delete-btn" type="submit" value="Löschen">
            </form>

            <!-- Accept-Content Button for Post-->
            <form action="/group/mod/reportlist/removecontent" method="post">
                <div class="uk-margin-top" style="display:none">
                    <input type="hidden" name="postId" value= <%= reportedPost.content._id %>></br>
                    <input type="hidden" name="groupID" value= <%= groupID %>></br>
                    <input type="hidden" name="reportedPost" value= <%= reportedPost._id %>></br>
                </div>
                <input class="uk-button uk-button-primary uk-button-small delete-btn" type="submit" value="Nicht Löschen">
            </form>
        </div>
    <% })} %>

    <% if(reportedComments.length > 0){ %>
    <h3 class="uk-margin-remove">Reported Comments:</h3>        
    <% reportedComments.forEach((reportedComment) => { %>

        <!--Cards for Comments -->
        <%- include('../../partials/components/single-comment-reference', {comment: reportedComment.content})%>

        <div class="uk-margin-left uk-margin-right uk-margin-bottom">
            <!-- Delete Button for Comments-->
            <form action="/group/mod/comment/delete" method="post">
                <div class="uk-margin-top" style="display:none">
                    <input type="hidden" name="commentId" value= <%= reportedComment.content._id %>></br>
                    <input type="hidden" name="groupID" value= <%= groupID %>></br>
                    <input type="hidden" name="reportedComment" value= <%= reportedComment._id %>></br>
                </div>
                <input class="uk-button uk-button-primary uk-button-small delete-btn" type="submit" value="Löschen">
            </form>

            <!-- Accept-Content Button for Comment-->
            <form action="/group/mod/reportlist/removecontent" method="post">
                <div class="uk-margin-top" style="display:none">
                    <input type="hidden" name="commentId" value= <%= reportedComment.content._id %>></br>
                    <input type="hidden" name="groupID" value= <%= groupID %>></br>
                    <input type="hidden" name="reportedComment" value= <%= reportedComment._id %>></br>
                </div>
                <input class="uk-button uk-button-primary uk-button-small delete-btn" type="submit" value="Nicht Löschen">
            </form>
        </div>
    


    <% })} %>

    <% if(reportedSubcomments.length > 0){ %>
    <h3 class="uk-margin-remove">Reported Subcomments:</h3>        
    <% reportedSubcomments.forEach((reportedSubcomment) => { %>

        <!--Cards for Subcomments -->
        <%- include('../../partials/components/single-comment-reference', {comment: reportedSubcomment.content})%>

        <div class="uk-margin-left uk-margin-right uk-margin-bottom">
            <!-- Delete Button for Subcomments-->
            <form action="/group/mod/subcomment/delete" method="post">
                <div class="uk-margin-top" style="display:none">
                    <input type="hidden" name="subCommentId" value= <%= reportedSubcomment.content._id %>></br>
                    <input type="hidden" name="groupID" value= <%= groupID %>></br>
                    <input type="hidden" name="reportedSubcomment" value= <%= reportedSubcomment._id %>></br>
                </div>
                <input class="uk-button uk-button-primary uk-button-small delete-btn" type="submit" value="Löschen">
            </form>

            <!-- Accept-Content Button for SubComment-->
            <form action="/group/mod/reportlist/removecontent" method="post">
                <div class="uk-margin-top" style="display:none">
                    <input type="hidden" name="subCommentId" value= <%= reportedSubcomment.content._id %>></br>
                    <input type="hidden" name="groupID" value= <%= groupID %>></br>
                    <input type="hidden" name="reportedSubcomment" value= <%= reportedSubcomment._id %>></br>
                </div>
                <input class="uk-button uk-button-primary uk-button-small delete-btn" type="submit" value="Nicht Löschen">
            </form>
        </div>
    <% })} %>









    </main>
</body>

<% include ../../partials/footer %>
<% include ../../partials/foot %>