<% include ../start %>

    <div class="main">
        <div class="uk-margin uk-margin-left uk-margin-right">
            <h4> All profiles</h4>
        </div>

        <!-- search Form-->
        <div class="uk-margin uk-background-default">
            <form class="uk-search uk-search-default uk-width-1-1" action="/admin/profiles/search" method="post">
                <input id="Name" type="text" name="name" class="uk-search-input" type="search" placeholder="Search...">
            </form>
        </div>

        <% if(profiles){ profiles.forEach((profile) => { %>
            <div class="uk-card uk-card-default uk-margin-remove-left uk-margin-remove-right">
                <%- include('../../partials/components/single-profile-reference', {profile, currentUserProfile})%>
                <%if(profile.admin == false){%>
                    <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
                        
                        <!-- Suspend button for user-->
                        <%if(profile.user.suspended == false){%>
                            <div>
                                <form id="suspendUser<%= profile.user._id %>" action="/admin/profiles/suspenduser" method="post">
                                    <div class="uk-margin-top" style="display:none">
                                        <input type="hidden" name="userId" value= <%= profile.user._id %>></br>
                                    </div>
                                </form>
                                <button onclick="suspendUser('<%= profile.user._id %>')" class="uk-button uk-button-primary uk-button-small delete-btn uk-width-1-1" id="button<%= profile.user._id %>">
                                    Nutzer sperren
                                </button>
                            </div>
                        <%}else{%>
                            <div>
                                <form action="/admin/profiles/unsuspenduser" method="post">
                                    <div class="uk-margin-top" style="display:none">
                                        <input type="hidden" name="userId" value= <%= profile.user._id %>></br>
                                    </div>
                                    <input class="uk-button uk-button-primary uk-button-small delete-btn uk-width-1-1" type="submit" value="Nutzer Entsperren">
                                </form>
                            </div>
                        <%}%>
                        <div>
                            <form id="removeUser<%= profile.user._id %>" action="/admin/profiles/delete" method="post">
                                <div class="uk-margin-top" style="display:none">
                                    <input type="hidden" name="userId" value= <%= profile.user._id %>></br>
                                </div>
                            </form>
                            <button onclick="removeUser('<%= profile.user._id %>')" class="uk-button uk-button-primary uk-button-small delete-btn uk-width-1-1">Nutzer Löschen</button>
                        </div>
                    </div>
                <%}%>
            </div>
        <% })} %>
        <%- include('../../partials/pagination-full', {pages: pages, current: current, url: url })%>

    </div>
<% include ../end %>