<% include ../start %>
    <div class="main">
    <% if(notifications){notifications.forEach((notification) => {%>
        <div class="full-notification uk-inline">
            <div class="uk-comment-body">
                <p class="uk-margin-remove">
                    <% if (notification.updatedBy.toString() == currentUserProfile._id.toString()){%>
                        You
                    <%}else if (notification.updatedBy.toString() != currentUserProfile._id.toString()){%>
                        Someone
                    <%}%>

                    <% if (notification.profile.toString() != currentUserProfile._id.toString()){%>
                        also
                    <%}else{%>
                    <%}%>

                    <% if (notification.refContentType =="post"){%>
                        commented on 
                    <%}else if (notification.refContentType == "comment"){%>
                        replied to
                    <%}%>

                    <% if (notification.profile.toString() != currentUserProfile._id.toString()){%>
                        the
                    <%}else{%>
                        your
                    <%}%>

                    <% if (notification.refContentType =="post"){%>
                        post: 
                    <%}else if (notification.refContentType == "comment"){%>
                        comment: 
                    <%}%>

                    <% if (notification.refContentType =="post"){%>
                        <a href="<%="/post/id/" + notification.refContent._id %>">
                            <%- include('../../partials/helpers/trim-text', {text: notification.refContent.title})%>
                        </a>
                    <%}else if (notification.refContentType == "comment"){%>
                        <a href="<%="/post/id/" + notification.parentContent._id %>">
                            <%- include('../../partials/helpers/trim-text', {text: notification.refContent.text})%>
                        </a>
                    <%}%>
                </p>
                <p class="uk-text-meta uk-margin-remove"><%= notification.refContent.date.toDateString("de-De") + " " + notification.refContent.date.toLocaleTimeString("de-De")%></p>
                
            </div>
        </div>
    <%})}%>
    </div>
<% include ../end %>