<%#
Shows comments by parentpost with all subcomments 
-   shows images if available
-   shows dropdown for reporting content
-   with delete buttons

requires
-   parentPost as "post" variable
-   parentGroup as "group" variable
%>

<!-- List comments -->
<% var comments = post.comments%>
<% var index = 0 %>
<% if(comments){ comments.forEach((comment) => { %>
    <% if(comment != null && comment != undefined && comment._id != undefined) {%>
        <div class="post__comment uk-inline">
            <header class="uk-comment-header uk-margin-remove-bottom uk-grid-medium uk-flex-middle" uk-grid>

                <%- include('./report-content-dropdown', {contentId: comment._id._id, groupId: group._id, currentUserProfile, contentType: "comment"} )%>

                <div class="uk-width-auto uk-margin-remove">
                    <%if(comment._id.profile.avatar){%>
                        <img class="uk-border" width="80" height="80" src="<%="/avatars/" + comment._id.profile.avatar %>">
                    <%}else{%>
                        <img class="uk-border" width="80" height="80" src="/maxresdefault.jpg">
                    <%}%>
                </div>
                <div class="uk-width-expand uk-margin-remove">
                    <p class="uk-text-meta uk-margin-remove-top uk-margin-remove-bottom"><a href="/profile/id/<%= comment._id.profile._id %>">von <%= comment._id.profile.name %></a></p>
                    <p class="uk-text-meta uk-margin-remove-top uk-margin-remove-bottom">Am <%= comment._id.date.toLocaleDateString("de-De") + " um " + comment._id.date.toLocaleTimeString("de-De") %></p>
                </div>
            </header>
            <hr class="divider__b">
            <div class="uk-comment-body">
                <p><%= comment._id.text %></p>
            </div>

            <!-- show comment-image if available-->
            <% if(comment._id.image){%>
                </br>
                <div class="uk-width-auto">
                    <img  width="100%" src= <%="/contentImages/" + comment._id.image._id %> >
                </div>
            <%}%>

            <!-- Delete Button for comment -->
            
            <% if(currentUserProfile._id.toString() === comment._id.profile._id.toString()) {%>
                <form action="/post/comment/delete" method="post">
                    <input type="hidden" name="postId" value= <%= post._id %>>
                    <input type="hidden" name="commentId" value= <%= comment._id._id%>>
                    <input class="uk-button uk-button-primary uk-button-small delete-btn" type="submit" value="Löschen">
                </form>
            <%}%>


            <!-- list subComments -->
            <% var subComments = comment._id.subcomments %>
            
            <% if(subComments != undefined &&  subComments._id != undefined){%>
                <% subComments.forEach((subComment) => { %>
                    <% if(subComment != null) {%>
                        <div class="post__sub-comment uk-inline">
                            <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>

                            <%- include('./report-content-dropdown', {contentId: subComment._id._id, groupId: group._id, currentUserProfile, contentType: "subcomment"} )%>

                                <div class="uk-width-auto uk-margin-remove">
                                    <%if(subComment._id.profile.avatar){%>
                                        <img class="uk-border" width="80" height="80" src="<%="/avatars/" + subComment._id.profile.avatar %>">
                                    <%}else{%>
                                        <img class="uk-border" width="80" height="80" src="/maxresdefault.jpg">
                                    <%}%>
                                </div>
                                <div class="uk-width-expand uk-margin-remove">
                                    <p class="uk-text-meta uk-margin-remove-top uk-margin-remove-bottom"><a href="/profile/id/<%= subComment._id.profile._id %>">von <%= subComment._id.profile.name %></a></p>
                                    <p class="uk-text-meta uk-margin-remove-top uk-margin-remove-bottom"><%= subComment._id.date.toLocaleDateString("de-De") + " " + subComment._id.date.toLocaleTimeString("de-De") %></p>
                                </div>
                            </header>
                            
                            <div class="uk-comment-body">
                                <p><%= subComment._id.text %></p>
                            </div>

                            <!-- show subcomment-image if available-->
                            <% if(subComment._id.image){%>
                                </br>
                                <div class="uk-width-auto">
                                    <img  width="100%" src= <%="/contentImages/" + subComment._id.image._id %> >
                                </div>
                            <%}%>
                            <!-- Delete Button -->
                            <% if(currentUserProfile._id.toString() === subComment._id.profile._id.toString()) {%>
                                <form action="/post/subcomment/delete" method="post">
                                    <input type="hidden" name="postId" value= <%= post._id %>>
                                    <input type="hidden" name="commentId" value= <%= comment._id._id%>>
                                    <input type="hidden" name="subCommentId" value= <%= subComment._id._id%>>
                                    <input class="uk-button uk-button-primary uk-button-small delete-btn" type="submit" value="Löschen">
                                </form>
                            <%}%>
                        </div>
                    <%}%>
                <%})%>
            <%}%>
                    
            
            <div class="subcomment-form">
            <ul uk-accordion>
                <li>                        
                    <a class="uk-accordion-title subcomment-slider-title" href="#">Kommentieren</a>                        

                    <div class="uk-accordion-content">                            
                            <form action="/post/subcomment/create" method="post" enctype="multipart/form-data">
                                <fieldset class="uk-fieldset">
                                    <textarea class="uk-textarea" id="Text" type="text" name="text" placeholder="Text eingeben" required></textarea>
                                    <input type="hidden" name="postId" value="<%= post._id %>">
                                    <input type="hidden" name="commentId" value="<%= comment._id._id %>">
                                    <input type="hidden" name="index" value="<%= index %>">
                                    <input type="hidden" name="groupId" value="<%= group._id %>"></br>
                                    <div class="js-upload" uk-form-custom="target: true">
                                        <input type="file" name='image' single>
                                        <input class="uk-input uk-form-width-medium uk-button uk-button-default uk-background-default" type="text" placeholder="Bild hochladen">
                                    </div>
                                    <input class="uk-button uk-button-primary" type="submit" value="Absenden">
                                </fieldset>
                            </form>
                        
                    </div>
                </li>
            </ul>
            </div>
                
        </div>
    <%}%>
<% index= index + 1  })} %>