<%#
Shows full single post
-   shows dropdown for reporting content
-   shows image if available
-   show delete button
-   without comments

requires
-   post as "post" variable
-   parentGroup as "group" variable
%>


<!-- Card for post -->
<div class="post uk-inline ">
    <header class="uk-comment-header uk-margin-remove-bottom uk-grid-medium uk-flex-middle" uk-grid>

        <%- include('./report-content-dropdown', {contentId: post._id, groupId: group._id, currentUserProfile, contentType: "post"} )%>

        <div class="uk-width-auto uk-margin-remove">
            <%if(post.profile.avatar){%>
                <img class="uk-border" width="80" height="80" src="<%="/avatars/" + post.profile.avatar %>">
            <%}else{%>
                <img class="uk-border" width="80" height="80" src="/maxresdefault.jpg">
            <%}%>
        </div>
        <div class="uk-width-expand uk-margin-remove">
            <h3 class="uk-comment-title uk-margin-remove"><%= post.title %></h3>                    
            <p class="uk-text-meta uk-margin-remove-top uk-margin-remove-bottom">
                <a href="/profile/id/<%= post.profile._id %>">Von: <%= post.profile.name %></a>
                <a href="/group/name/<%= post.group.name %>"> - In: <%= post.group.name %></a>
            </p>
            <p class="uk-text-meta uk-margin-remove-top uk-margin-remove-bottom">Am <%= post.date.toLocaleDateString() + " um " + post.date.toLocaleTimeString("de-De") %></p>           
            
        </div>
    </header>
    <hr class="divider__b">
    <div class="uk-comment-body">
        <p><%=post.text%></p>
    </div>
    <% if(post.image){%>
        </br>
        <div class="uk-width-auto">
            <img  width="100%" src= <%="/contentImages/" + post.image._id %> >
        </div>
    <%}%>
    <!-- Delete Button for Post-->
    <% if(currentUserProfile._id.toString() === post.profile._id.toString()) {%>
        <form action="/post/post/delete" method="post">
                <input type="hidden" name="postId" value= <%= post._id %>></br>
                <input class="uk-button uk-button-primary uk-button-small delete-btn" type="submit" value="Löschen">
        </form>
    <%}%>

</div>