<%#
Shows full single post
-   shows dropdown for reporting content
-   shows image if available
-   show delete button
-   without comments

requires
-   post as "post" variable
-   parentGroup as "group" variable
%>


<!-- Card for post -->
<div class="post uk-inline">
    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>

        <!--Report Dropdown Button for Post -->
        <button class="uk-button uk-button-link uk-position-top-right" type="button"><span uk-icon="icon:  triangle-down"></span></button>
        <div uk-dropdown="mode: click; boundary: !">
            <ul class="uk-nav uk-dropdown-nav">
                <li class="uk-nav-header">Melden wegen:</li>
                <li class="uk-nav-divider"></li>

                    <!--Buttons/Forms for reporting a Post -->
                    <form action="/post/reportcontent" method="post">
                        <div style="display:none">
                            <input type="hidden" name="ID" value= <%= post._id %>></br>
                            <input type="hidden" name="groupID" value= <%= group._id %>></br>
                            <input type="hidden" name="reportedBy" value= <%= currentUserProfile._id %>></br>
                            <input type="hidden" name="contentType" value= post></br>
                            <input type="hidden" name="reason" value= "inadquate"></br>
                        </div>
                        <input class="uk-button uk-button-primary uk-button-small uk-width-1-1 report-btn" type="submit" value="Unangemessener Beitrag">
                    </form>

                    <form action="/post/reportcontent" method="post">
                        <div style="display:none">
                            <input type="hidden" name="ID" value= <%= post._id %>></br>
                            <input type="hidden" name="groupID" value= <%= group._id %>></br>
                            <input type="hidden" name="reportedBy" value= <%= currentUserProfile._id %>></br>
                            <input type="hidden" name="contentType" value= post></br>
                            <input type="hidden" name="reason" value= "spamOrAd"></br>
                        </div>
                        <input class="uk-button uk-button-primary uk-button-small uk-width-1-1 report-btn" type="submit" value="Unangemessener Beitrag">
                    </form>

            </ul>
        </div>

        <div class="uk-width-auto uk-margin-remove">
            <%if(post.profile.avatar){%>
                <img class="uk-border" width="80" height="80" src="<%="images/avatars/" + post.profile.avatar %>">
            <%}else{%>
                <img class="uk-border" width="80" height="80" src="images/maxresdefault.jpg">
            <%}%>
        </div>
        <div class="uk-width-expand uk-margin-remove">
            <h3 class="uk-comment-title uk-margin-remove"><%= post.title %></h3>                    
            <p class="uk-text-meta uk-margin-remove-top uk-margin-remove-bottom">
                <a href="/profile/id/<%= post.profile._id %>">Von: <%= post.profile.name %></a>
                <a href="/group/name/<%= post.group.name %>"> - In: <%= post.group.name %></a>
            </p>
            <p class="uk-text-meta uk-margin-remove-top uk-margin-remove-bottom"><%= post.date.toDateString("de-De") + " " + post.date.toLocaleTimeString("de-De") %></p>           
            
        </div>
    </header>
    <hr class="divider__b">
    <div class="uk-comment-body">
        <p><%=post.text%></p>
    </div>
    <% if(post.image){%>
        </br>
        <div class="uk-width-auto">
            <img  width="100%" src= <%="images/contentImages/" + post.image._id %> >
        </div>
    <%}%>
    <!-- Delete Button for Post-->
    <% if(currentUserProfile._id.toString() === post.profile._id.toString()) {%>
        <form action="/post/post/delete" method="post">
                <input type="hidden" name="postId" value= <%= post._id %>></br>
                <input class="uk-button uk-button-primary uk-button-small delete-btn" type="submit" value="Löschen">
        </form>
    <%}%>

</div>