<%#
Shows single profile as reference
-   shows avatar if available
-   shows button to add/remove to/from contacts

requires
-   profile as "profile" variable
-   currentUserProfile
%>

<div class="uk-card uk-card-default uk-margin-remove-bottom uk-margin-remove-left uk-margin-remove-right">
<div class="uk-card-header">
    <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
            <%if(profile.avatar){%>
                    <img class="uk-border" width="80" height="80" src="<%="/avatars/" + profile.avatar %>">
            <%}else{%>
                <img class="uk-border" width="80" height="80" src="/maxresdefault.jpg">
            <%}%>
        </div>
        <div class="uk-width-expand">
            <a class="uk-card-title uk-margin-remove-bottom" href="/profile/id/<%=profile._id %>">
                <h3 class="uk-card-title uk-margin-remove-bottom"><%= profile.name %></h3>
            </a>
            <p class="uk-text-meta uk-margin-remove-top">
                <!-- check if rendered users profile is currentUsers profile or allready in contacts list, to render according button -->
                <% if(profile._id.toString() == currentUserProfile._id.toString()){%>
                <%} else if(currentUserProfile.contacts.toString().includes(profile._id.toString()) == false) { %>
                    <div>
                        <form id="addContact" action="/contacts/addcontact" method="post">
                            <input type="hidden" name="profileId" value="<%= profile._id %>">
                            <button onclick="addContact(this)" type="submit" value="<%= profile._id %>" class="uk-button uk-button-primary uk-button-small">Kontakt hinzufügen</button>                  
                        </form>
                        <form id="removeContact" class="hidden" action="/contacts/removecontact" method="post">
                            <input type="hidden" name="profileId" value="<%= profile._id %>">
                            <button onclick="removeContact(this)" type="submit" value="<%= profile._id %>" class="uk-button uk-button-default uk-button-small">Kontakt Entfernen</button>                  
                        </form>
                    </div>
                <%} else if (currentUserProfile.contacts.toString().includes(profile._id.toString()) == true){ %>
                    <div>
                        <form id="addContact" class="hidden" action="/contacts/addcontact" method="post">
                            <input type="hidden" name="profileId" value="<%= profile._id %>">
                            <button onclick="addContact(this)" type="submit" value="<%= profile._id %>" class="uk-button uk-button-primary uk-button-small">Kontakt hinzufügen</button>                  
                        </form>

                        <form id="removeContact" action="/contacts/removecontact" method="post">
                            <input type="hidden" name="profileId" value="<%= profile._id %>">
                            <button onclick="removeContact(this)" type="submit" value="<%= profile._id %>" class="uk-button uk-button-default uk-button-small">Kontakt Entfernen</button>                  
                        </form>
                    </div>
                <% } %>
            </p>
        </div>
    </div>
</div>
</div>